@model IEnumerable<Modelo.Tabelas.Categoria>

<!-- add categoria-->
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listagem de FABRICANTES";
}

@if (@TempData["Message"] != null)
{
<div class="alert alert-success" role="alert">
    @TempData["Message"]
</div>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/validate.min.js"></script>
    <script src="~/Scripts/validate.unobtrusive.min.js"></script>
    <p>
        @Html.ActionLink("Criar Nova Categoria", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoriaId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CategoriaId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoriaId })
            </td>
        </tr>
        }

    </table>
</body>
</html>

<!--  add categoria-->
@section styles{
    <link href="@Url.Content("~/content/DataTables/css/dataTables.bootstrap.css")" rel="stylesheet" />
}
@section ScriptPage{
    <script src="@Url.Content("~/scripts/DataTables/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/scripts/DataTables/dataTables.bootstrap.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').dataTable({
                "order": [[1, "asc"]]
            });
            $('li').removeClass("active");
            $('#liFabricantes').addClass("active");
        });
    </script>
}
